<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>36</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>53</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>61</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>70</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>border</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>group00</key>
			<true/>
			<key>group01</key>
			<false/>
			<key>group02</key>
			<false/>
			<key>group03</key>
			<false/>
			<key>group04</key>
			<false/>
			<key>group05</key>
			<false/>
			<key>group06</key>
			<false/>
			<key>group07</key>
			<false/>
			<key>group08</key>
			<false/>
			<key>group09</key>
			<false/>
			<key>height</key>
			<real>504</real>
			<key>maskAggressively</key>
			<false/>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>radialGradientColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>scale</key>
			<real>1</real>
			<key>sizeAsString</key>
			<dict>
				<key>CF$UID</key>
				<integer>3</integer>
			</dict>
			<key>sizeInBlocks</key>
			<real>1</real>
			<key>stages</key>
			<dict>
				<key>CF$UID</key>
				<integer>13</integer>
			</dict>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>width</key>
			<real>384</real>
		</dict>
		<string>384 X 504</string>
		<string>cannon</string>
		<integer>1</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>10</integer>
			</dict>
			<key>NSICC</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NSID</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>NS.data</key>
			<data>
			AAAMSExpbm8CEAAAbW50clJHQiBYWVogB84AAgAJAAYAMQAAYWNz
			cE1TRlQAAAAASUVDIHNSR0IAAAAAAAAAAAAAAAAAAPbWAAEAAAAA
			0y1IUCAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAARY3BydAAAAVAAAAAzZGVzYwAAAYQAAABs
			d3RwdAAAAfAAAAAUYmtwdAAAAgQAAAAUclhZWgAAAhgAAAAUZ1hZ
			WgAAAiwAAAAUYlhZWgAAAkAAAAAUZG1uZAAAAlQAAABwZG1kZAAA
			AsQAAACIdnVlZAAAA0wAAACGdmlldwAAA9QAAAAkbHVtaQAAA/gA
			AAAUbWVhcwAABAwAAAAkdGVjaAAABDAAAAAMclRSQwAABDwAAAgM
			Z1RSQwAABDwAAAgMYlRSQwAABDwAAAgMdGV4dAAAAABDb3B5cmln
			aHQgKGMpIDE5OTggSGV3bGV0dC1QYWNrYXJkIENvbXBhbnkAAGRl
			c2MAAAAAAAAAEnNSR0IgSUVDNjE5NjYtMi4xAAAAAAAAAAAAAAAS
			c1JHQiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAADz
			UQABAAAAARbMWFlaIAAAAAAAAAAAAAAAAAAAAABYWVogAAAAAAAA
			b6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAA
			ACSgAAAPhAAAts9kZXNjAAAAAAAAABZJRUMgaHR0cDovL3d3dy5p
			ZWMuY2gAAAAAAAAAAAAAABZJRUMgaHR0cDovL3d3dy5pZWMuY2gA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAZGVzYwAAAAAAAAAuSUVDIDYxOTY2LTIuMSBEZWZhdWx0
			IFJHQiBjb2xvdXIgc3BhY2UgLSBzUkdCAAAAAAAAAAAAAAAuSUVD
			IDYxOTY2LTIuMSBEZWZhdWx0IFJHQiBjb2xvdXIgc3BhY2UgLSBz
			UkdCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGRlc2MAAAAAAAAALFJl
			ZmVyZW5jZSBWaWV3aW5nIENvbmRpdGlvbiBpbiBJRUM2MTk2Ni0y
			LjEAAAAAAAAAAAAAACxSZWZlcmVuY2UgVmlld2luZyBDb25kaXRp
			b24gaW4gSUVDNjE5NjYtMi4xAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAB2aWV3AAAAAAATpP4AFF8uABDPFAAD7cwABBMLAANcngAA
			AAFYWVogAAAAAABMCVYAUAAAAFcf521lYXMAAAAAAAAAAQAAAAAA
			AAAAAAAAAAAAAAAAAAKPAAAAAnNpZyAAAAAAQ1JUIGN1cnYAAAAA
			AAAEAAAAAAUACgAPABQAGQAeACMAKAAtADIANwA7AEAARQBKAE8A
			VABZAF4AYwBoAG0AcgB3AHwAgQCGAIsAkACVAJoAnwCkAKkArgCy
			ALcAvADBAMYAywDQANUA2wDgAOUA6wDwAPYA+wEBAQcBDQETARkB
			HwElASsBMgE4AT4BRQFMAVIBWQFgAWcBbgF1AXwBgwGLAZIBmgGh
			AakBsQG5AcEByQHRAdkB4QHpAfIB+gIDAgwCFAIdAiYCLwI4AkEC
			SwJUAl0CZwJxAnoChAKOApgCogKsArYCwQLLAtUC4ALrAvUDAAML
			AxYDIQMtAzgDQwNPA1oDZgNyA34DigOWA6IDrgO6A8cD0wPgA+wD
			+QQGBBMEIAQtBDsESARVBGMEcQR+BIwEmgSoBLYExATTBOEE8AT+
			BQ0FHAUrBToFSQVYBWcFdwWGBZYFpgW1BcUF1QXlBfYGBgYWBicG
			NwZIBlkGagZ7BowGnQavBsAG0QbjBvUHBwcZBysHPQdPB2EHdAeG
			B5kHrAe/B9IH5Qf4CAsIHwgyCEYIWghuCIIIlgiqCL4I0gjnCPsJ
			EAklCToJTwlkCXkJjwmkCboJzwnlCfsKEQonCj0KVApqCoEKmAqu
			CsUK3ArzCwsLIgs5C1ELaQuAC5gLsAvIC+EL+QwSDCoMQwxcDHUM
			jgynDMAM2QzzDQ0NJg1ADVoNdA2ODakNww3eDfgOEw4uDkkOZA5/
			DpsOtg7SDu4PCQ8lD0EPXg96D5YPsw/PD+wQCRAmEEMQYRB+EJsQ
			uRDXEPURExExEU8RbRGMEaoRyRHoEgcSJhJFEmQShBKjEsMS4xMD
			EyMTQxNjE4MTpBPFE+UUBhQnFEkUahSLFK0UzhTwFRIVNBVWFXgV
			mxW9FeAWAxYmFkkWbBaPFrIW1hb6Fx0XQRdlF4kXrhfSF/cYGxhA
			GGUYihivGNUY+hkgGUUZaxmRGbcZ3RoEGioaURp3Gp4axRrsGxQb
			OxtjG4obshvaHAIcKhxSHHscoxzMHPUdHh1HHXAdmR3DHeweFh5A
			HmoelB6+HukfEx8+H2kflB+/H+ogFSBBIGwgmCDEIPAhHCFIIXUh
			oSHOIfsiJyJVIoIiryLdIwojOCNmI5QjwiPwJB8kTSR8JKsk2iUJ
			JTglaCWXJccl9yYnJlcmhya3JugnGCdJJ3onqyfcKA0oPyhxKKIo
			1CkGKTgpaymdKdAqAio1KmgqmyrPKwIrNitpK50r0SwFLDksbiyi
			LNctDC1BLXYtqy3hLhYuTC6CLrcu7i8kL1ovkS/HL/4wNTBsMKQw
			2zESMUoxgjG6MfIyKjJjMpsy1DMNM0YzfzO4M/E0KzRlNJ402DUT
			NU01hzXCNf02NzZyNq426TckN2A3nDfXOBQ4UDiMOMg5BTlCOX85
			vDn5OjY6dDqyOu87LTtrO6o76DwnPGU8pDzjPSI9YT2hPeA+ID5g
			PqA+4D8hP2E/oj/iQCNAZECmQOdBKUFqQaxB7kIwQnJCtUL3QzpD
			fUPARANER0SKRM5FEkVVRZpF3kYiRmdGq0bwRzVHe0fASAVIS0iR
			SNdJHUljSalJ8Eo3Sn1KxEsMS1NLmkviTCpMcky6TQJNSk2TTdxO
			JU5uTrdPAE9JT5NP3VAnUHFQu1EGUVBRm1HmUjFSfFLHUxNTX1Oq
			U/ZUQlSPVNtVKFV1VcJWD1ZcVqlW91dEV5JX4FgvWH1Yy1kaWWlZ
			uFoHWlZaplr1W0VblVvlXDVchlzWXSddeF3JXhpebF69Xw9fYV+z
			YAVgV2CqYPxhT2GiYfViSWKcYvBjQ2OXY+tkQGSUZOllPWWSZedm
			PWaSZuhnPWeTZ+loP2iWaOxpQ2maafFqSGqfavdrT2una/9sV2yv
			bQhtYG25bhJua27Ebx5veG/RcCtwhnDgcTpxlXHwcktypnMBc11z
			uHQUdHB0zHUodYV14XY+dpt2+HdWd7N4EXhueMx5KnmJeed6Rnql
			ewR7Y3vCfCF8gXzhfUF9oX4BfmJ+wn8jf4R/5YBHgKiBCoFrgc2C
			MIKSgvSDV4O6hB2EgITjhUeFq4YOhnKG14c7h5+IBIhpiM6JM4mZ
			if6KZIrKizCLlov8jGOMyo0xjZiN/45mjs6PNo+ekAaQbpDWkT+R
			qJIRknqS45NNk7aUIJSKlPSVX5XJljSWn5cKl3WX4JhMmLiZJJmQ
			mfyaaJrVm0Kbr5wcnImc951kndKeQJ6unx2fi5/6oGmg2KFHobai
			JqKWowajdqPmpFakx6U4pammGqaLpv2nbqfgqFKoxKk3qamqHKqP
			qwKrdavprFys0K1ErbiuLa6hrxavi7AAsHWw6rFgsdayS7LCsziz
			rrQltJy1E7WKtgG2ebbwt2i34LhZuNG5SrnCuju6tbsuu6e8Ibyb
			vRW9j74KvoS+/796v/XAcMDswWfB48JfwtvDWMPUxFHEzsVLxcjG
			RsbDx0HHv8g9yLzJOsm5yjjKt8s2y7bMNcy1zTXNtc42zrbPN8+4
			0DnQutE80b7SP9LB00TTxtRJ1MvVTtXR1lXW2Ndc1+DYZNjo2WzZ
			8dp22vvbgNwF3IrdEN2W3hzeot8p36/gNuC94UThzOJT4tvjY+Pr
			5HPk/OWE5g3mlucf56noMui86Ubp0Opb6uXrcOv77IbtEe2c7iju
			tO9A78zwWPDl8XLx//KM8xnzp/Q09ML1UPXe9m32+/eK+Bn4qPk4
			+cf6V/rn+3f8B/yY/Sn9uv5L/tz/bf//
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableData</string>
				<string>NSData</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableData</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSColorSpace</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSColorSpace</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSColor</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSColor</string>
		</dict>
		<string>Texture</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>14</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>base</key>
			<true/>
			<key>blendMode</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>color</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>enableTextureControls</key>
			<true/>
			<key>first</key>
			<false/>
			<key>last</key>
			<false/>
			<key>opacity</key>
			<real>1</real>
			<key>primitiveImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>repeat</key>
			<false/>
			<key>rotation</key>
			<real>0.0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>texture</key>
			<dict>
				<key>CF$UID</key>
				<integer>2</integer>
			</dict>
			<key>translationX</key>
			<real>0.0</real>
			<key>translationY</key>
			<real>0.0</real>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>uniformResizing</key>
			<false/>
		</dict>
		<string>Black-Cannon.png</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>TextureStage</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>TextureStage</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>Texture</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>Texture</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>border</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>group00</key>
			<true/>
			<key>group01</key>
			<false/>
			<key>group02</key>
			<false/>
			<key>group03</key>
			<false/>
			<key>group04</key>
			<false/>
			<key>group05</key>
			<false/>
			<key>group06</key>
			<false/>
			<key>group07</key>
			<false/>
			<key>group08</key>
			<false/>
			<key>group09</key>
			<false/>
			<key>height</key>
			<real>640</real>
			<key>maskAggressively</key>
			<false/>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>radialGradientColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>scale</key>
			<real>1</real>
			<key>sizeAsString</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>sizeInBlocks</key>
			<real>1</real>
			<key>stages</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>width</key>
			<real>651</real>
		</dict>
		<string>651 X 640</string>
		<string>factory</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>25</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>base</key>
			<true/>
			<key>blendMode</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>color</key>
			<dict>
				<key>CF$UID</key>
				<integer>27</integer>
			</dict>
			<key>enableTextureControls</key>
			<true/>
			<key>first</key>
			<false/>
			<key>last</key>
			<false/>
			<key>opacity</key>
			<real>1</real>
			<key>primitiveImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>26</integer>
			</dict>
			<key>repeat</key>
			<false/>
			<key>rotation</key>
			<real>0.0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>texture</key>
			<dict>
				<key>CF$UID</key>
				<integer>20</integer>
			</dict>
			<key>translationX</key>
			<real>0.0</real>
			<key>translationY</key>
			<real>0.0</real>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>uniformResizing</key>
			<false/>
		</dict>
		<string>Building-10.png</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>border</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>group00</key>
			<true/>
			<key>group01</key>
			<false/>
			<key>group02</key>
			<false/>
			<key>group03</key>
			<false/>
			<key>group04</key>
			<false/>
			<key>group05</key>
			<false/>
			<key>group06</key>
			<false/>
			<key>group07</key>
			<false/>
			<key>group08</key>
			<false/>
			<key>group09</key>
			<false/>
			<key>height</key>
			<real>512</real>
			<key>maskAggressively</key>
			<false/>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>30</integer>
			</dict>
			<key>radialGradientColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>31</integer>
			</dict>
			<key>scale</key>
			<real>1</real>
			<key>sizeAsString</key>
			<dict>
				<key>CF$UID</key>
				<integer>29</integer>
			</dict>
			<key>sizeInBlocks</key>
			<real>1</real>
			<key>stages</key>
			<dict>
				<key>CF$UID</key>
				<integer>32</integer>
			</dict>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>width</key>
			<real>768</real>
		</dict>
		<string>768 X 512</string>
		<string>bushes</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>33</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>base</key>
			<true/>
			<key>blendMode</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>color</key>
			<dict>
				<key>CF$UID</key>
				<integer>35</integer>
			</dict>
			<key>enableTextureControls</key>
			<true/>
			<key>first</key>
			<false/>
			<key>last</key>
			<false/>
			<key>opacity</key>
			<real>1</real>
			<key>primitiveImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>34</integer>
			</dict>
			<key>repeat</key>
			<false/>
			<key>rotation</key>
			<real>0.0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>texture</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>translationX</key>
			<real>0.0</real>
			<key>translationY</key>
			<real>0.0</real>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>uniformResizing</key>
			<false/>
		</dict>
		<string>Bushes.png</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>border</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>group00</key>
			<true/>
			<key>group01</key>
			<false/>
			<key>group02</key>
			<false/>
			<key>group03</key>
			<false/>
			<key>group04</key>
			<false/>
			<key>group05</key>
			<false/>
			<key>group06</key>
			<false/>
			<key>group07</key>
			<false/>
			<key>group08</key>
			<false/>
			<key>group09</key>
			<false/>
			<key>height</key>
			<real>257</real>
			<key>maskAggressively</key>
			<false/>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>38</integer>
			</dict>
			<key>radialGradientColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>39</integer>
			</dict>
			<key>scale</key>
			<real>1</real>
			<key>sizeAsString</key>
			<dict>
				<key>CF$UID</key>
				<integer>37</integer>
			</dict>
			<key>sizeInBlocks</key>
			<real>1</real>
			<key>stages</key>
			<dict>
				<key>CF$UID</key>
				<integer>40</integer>
			</dict>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>width</key>
			<real>256</real>
		</dict>
		<string>256 X 257</string>
		<string>character</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>41</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>base</key>
			<true/>
			<key>blendMode</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>color</key>
			<dict>
				<key>CF$UID</key>
				<integer>43</integer>
			</dict>
			<key>enableTextureControls</key>
			<true/>
			<key>first</key>
			<false/>
			<key>last</key>
			<false/>
			<key>opacity</key>
			<real>1</real>
			<key>primitiveImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>repeat</key>
			<false/>
			<key>rotation</key>
			<real>0.0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>texture</key>
			<dict>
				<key>CF$UID</key>
				<integer>36</integer>
			</dict>
			<key>translationX</key>
			<real>0.0</real>
			<key>translationY</key>
			<real>0.0</real>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>uniformResizing</key>
			<false/>
		</dict>
		<string>Character-Happy.png</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>border</key>
			<dict>
				<key>CF$UID</key>
				<integer>47</integer>
			</dict>
			<key>group00</key>
			<true/>
			<key>group01</key>
			<false/>
			<key>group02</key>
			<false/>
			<key>group03</key>
			<false/>
			<key>group04</key>
			<false/>
			<key>group05</key>
			<false/>
			<key>group06</key>
			<false/>
			<key>group07</key>
			<false/>
			<key>group08</key>
			<false/>
			<key>group09</key>
			<false/>
			<key>height</key>
			<real>128</real>
			<key>maskAggressively</key>
			<false/>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>46</integer>
			</dict>
			<key>radialGradientColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>48</integer>
			</dict>
			<key>scale</key>
			<real>1</real>
			<key>sizeAsString</key>
			<dict>
				<key>CF$UID</key>
				<integer>45</integer>
			</dict>
			<key>sizeInBlocks</key>
			<real>1</real>
			<key>stages</key>
			<dict>
				<key>CF$UID</key>
				<integer>49</integer>
			</dict>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>width</key>
			<real>128</real>
		</dict>
		<string>128 X 128</string>
		<string>grass</string>
		<integer>3</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>50</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>base</key>
			<true/>
			<key>blendMode</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>color</key>
			<dict>
				<key>CF$UID</key>
				<integer>52</integer>
			</dict>
			<key>enableTextureControls</key>
			<true/>
			<key>first</key>
			<false/>
			<key>last</key>
			<false/>
			<key>opacity</key>
			<real>1</real>
			<key>primitiveImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>51</integer>
			</dict>
			<key>repeat</key>
			<false/>
			<key>rotation</key>
			<real>0.0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>texture</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
			<key>translationX</key>
			<real>0.0</real>
			<key>translationY</key>
			<real>0.0</real>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>uniformResizing</key>
			<false/>
		</dict>
		<string>Grass-1.png</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>border</key>
			<dict>
				<key>CF$UID</key>
				<integer>47</integer>
			</dict>
			<key>group00</key>
			<true/>
			<key>group01</key>
			<false/>
			<key>group02</key>
			<false/>
			<key>group03</key>
			<false/>
			<key>group04</key>
			<false/>
			<key>group05</key>
			<false/>
			<key>group06</key>
			<false/>
			<key>group07</key>
			<false/>
			<key>group08</key>
			<false/>
			<key>group09</key>
			<false/>
			<key>height</key>
			<real>128</real>
			<key>maskAggressively</key>
			<false/>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>55</integer>
			</dict>
			<key>radialGradientColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>56</integer>
			</dict>
			<key>scale</key>
			<real>1</real>
			<key>sizeAsString</key>
			<dict>
				<key>CF$UID</key>
				<integer>54</integer>
			</dict>
			<key>sizeInBlocks</key>
			<real>1</real>
			<key>stages</key>
			<dict>
				<key>CF$UID</key>
				<integer>57</integer>
			</dict>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>width</key>
			<real>128</real>
		</dict>
		<string>128 X 128</string>
		<string>stone</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>58</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>base</key>
			<true/>
			<key>blendMode</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>color</key>
			<dict>
				<key>CF$UID</key>
				<integer>60</integer>
			</dict>
			<key>enableTextureControls</key>
			<true/>
			<key>first</key>
			<false/>
			<key>last</key>
			<false/>
			<key>opacity</key>
			<real>1</real>
			<key>primitiveImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>59</integer>
			</dict>
			<key>repeat</key>
			<false/>
			<key>rotation</key>
			<real>0.0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>texture</key>
			<dict>
				<key>CF$UID</key>
				<integer>53</integer>
			</dict>
			<key>translationX</key>
			<real>0.0</real>
			<key>translationY</key>
			<real>0.0</real>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>uniformResizing</key>
			<false/>
		</dict>
		<string>Stone-Ground.png</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>border</key>
			<dict>
				<key>CF$UID</key>
				<integer>64</integer>
			</dict>
			<key>group00</key>
			<true/>
			<key>group01</key>
			<false/>
			<key>group02</key>
			<false/>
			<key>group03</key>
			<false/>
			<key>group04</key>
			<false/>
			<key>group05</key>
			<false/>
			<key>group06</key>
			<false/>
			<key>group07</key>
			<false/>
			<key>group08</key>
			<false/>
			<key>group09</key>
			<false/>
			<key>height</key>
			<real>64</real>
			<key>maskAggressively</key>
			<false/>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>63</integer>
			</dict>
			<key>radialGradientColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>65</integer>
			</dict>
			<key>scale</key>
			<real>1</real>
			<key>sizeAsString</key>
			<dict>
				<key>CF$UID</key>
				<integer>62</integer>
			</dict>
			<key>sizeInBlocks</key>
			<real>1</real>
			<key>stages</key>
			<dict>
				<key>CF$UID</key>
				<integer>66</integer>
			</dict>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>width</key>
			<real>781</real>
		</dict>
		<string>781 X 64</string>
		<string>track</string>
		<integer>2</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>67</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>base</key>
			<true/>
			<key>blendMode</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>color</key>
			<dict>
				<key>CF$UID</key>
				<integer>69</integer>
			</dict>
			<key>enableTextureControls</key>
			<true/>
			<key>first</key>
			<false/>
			<key>last</key>
			<false/>
			<key>opacity</key>
			<real>1</real>
			<key>primitiveImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>68</integer>
			</dict>
			<key>repeat</key>
			<false/>
			<key>rotation</key>
			<real>0.0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>texture</key>
			<dict>
				<key>CF$UID</key>
				<integer>61</integer>
			</dict>
			<key>translationX</key>
			<real>0.0</real>
			<key>translationY</key>
			<real>0.0</real>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>uniformResizing</key>
			<false/>
		</dict>
		<string>Track.png</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>border</key>
			<dict>
				<key>CF$UID</key>
				<integer>73</integer>
			</dict>
			<key>group00</key>
			<true/>
			<key>group01</key>
			<false/>
			<key>group02</key>
			<false/>
			<key>group03</key>
			<false/>
			<key>group04</key>
			<false/>
			<key>group05</key>
			<false/>
			<key>group06</key>
			<false/>
			<key>group07</key>
			<false/>
			<key>group08</key>
			<false/>
			<key>group09</key>
			<false/>
			<key>height</key>
			<real>384</real>
			<key>maskAggressively</key>
			<false/>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>72</integer>
			</dict>
			<key>radialGradientColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>74</integer>
			</dict>
			<key>scale</key>
			<real>1</real>
			<key>sizeAsString</key>
			<dict>
				<key>CF$UID</key>
				<integer>71</integer>
			</dict>
			<key>sizeInBlocks</key>
			<real>1</real>
			<key>stages</key>
			<dict>
				<key>CF$UID</key>
				<integer>76</integer>
			</dict>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>75</integer>
			</dict>
			<key>width</key>
			<real>384</real>
		</dict>
		<string>384 X 384</string>
		<string>saw</string>
		<integer>0</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
		<string>Texture</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>77</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>base</key>
			<true/>
			<key>blendMode</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>color</key>
			<dict>
				<key>CF$UID</key>
				<integer>79</integer>
			</dict>
			<key>enableTextureControls</key>
			<true/>
			<key>first</key>
			<false/>
			<key>last</key>
			<false/>
			<key>opacity</key>
			<real>1</real>
			<key>primitiveImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>78</integer>
			</dict>
			<key>repeat</key>
			<false/>
			<key>rotation</key>
			<real>0.0</real>
			<key>scaleX</key>
			<real>1</real>
			<key>scaleY</key>
			<real>1</real>
			<key>texture</key>
			<dict>
				<key>CF$UID</key>
				<integer>70</integer>
			</dict>
			<key>translationX</key>
			<real>0.0</real>
			<key>translationY</key>
			<real>0.0</real>
			<key>type</key>
			<dict>
				<key>CF$UID</key>
				<integer>75</integer>
			</dict>
			<key>uniformResizing</key>
			<false/>
		</dict>
		<string>Saw-Blade.png</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSComponents</key>
			<data>
			MSAxIDEgMQ==
			</data>
			<key>NSCustomColorSpace</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSRGB</key>
			<data>
			MSAwLjk5OTk3NDM3IDAuOTk5OTkxMjk3NwA=
			</data>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>textures</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
